<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title_text %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width", initial-scale=1.0">
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">
        <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
		</script>
		<meta charset="utf-8">
		<style>
		    input[type="range"] {
		    width: 300px;
		    padding: 0px;
		    }
		    input[type="range"]::-ms-tooltip { /* hides readout in IE */
		    display: none;
		    }
		    input[type="range"]::-ms-track { /* hides tick marks in IE */
		    color: transparent;
		    }
            table, th, td {
            border: 1px;
            padding: 5px;
            }
            table {
            border-spacing: 15px;
            }
		</style>
	</head>
	
<body>
	<div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if project %}
                    <h1 style="color: Teal">{{project}}</h1>
                {% else %}
                    {% if user.is_authenticated %}
                        <h1 style="color: Teal">TOM Dashboard for {{user.username}}</h1>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-3">
                <h1> </h1>
            </div>
            <div class="col-md-4">
                <a href="/"><button type="button" class="btn btn-primary">TOM Dashboard</button></a>
                {% if project %}
                    <a href="{% url 'project' %}?project={{project.id | urlencode}}"><button type="button" class="btn btn-primary">Project Dashboard</button></a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">Logout</button></a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% block mainregion %}
            {% endblock %}
	   </div>
    </div>
<footer class="footer">
    <div class="container">
        <img src="/static/tom/powered_by_LCO_logo.png" width="100"/>
    </div>
</footer>
</body>

</html>
