{% extends 'base.html' %}

{% block project_id %}{{project.name}}{% endblock %}
{% block title_text %}Observations{% endblock %}
{% block header_text %}Observations{% endblock %}

{% block mainregion %}
<center>
<h3>Current Observations</h3>
{% if obs_list|length == 0 %}
    No observations have been submitted.
{% else %}
    <table>
        <tr><th>Request ID</th><th>Target</th></tr>
        {% for name,obs in obs_list %}
            <tr><td>{{obs.group_id}}</td><td>{{name}}</td></tr>
        {% endfor %}
    </table>
</center>
{% endif %}
{% endblock %}