{% extends 'base.html' %}

{% block project_id %}{{project.name}}{% endblock %}
{% block title_text %}Observations{% endblock %}
{% block header_text %}Observations{% endblock %}

{% block mainregion %}
<center>
<h3>Current Observations</h3>
{% if obs_list|length == 0 %}
    No observations have been submitted.
{% else %}
    <table>
        <tr><th>Request ID</th><th>Target</th><th>Exposure summary</th><th>Start date</th><th>End date</th></tr>
        {% for group,name,summary,startdate,enddate in obs_list %}
            <tr><td>{{group}}</td><td>{{name}}</td><td>{{summary}}</td><td>{{startdate}}</td><td>{{enddate}}</td></tr>
        {% endfor %}
    </table>
</center>
{% endif %}
{% endblock %}